.h2GetInTouch,
.letUsKnow {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.letUsKnow {
  font-size: var(--font-size-lg);
  line-height: 150%;
}
.sectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.formBlockLabel {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.formTextInput {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.inputWrapper {
  height: 73px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.formTextarea,
.inputWrapper,
.textareaWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.formTextarea {
  border: 1px solid var(--color-black);
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: var(--color-white);
  box-sizing: border-box;
  height: 100px;
  flex-direction: row;
  padding: var(--padding-xs);
}
.textareaWrapper {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.sendMessage {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.formButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-black);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contactForm,
.container,
.form {
  display: flex;
  align-items: flex-start;
}
.form {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contactForm,
.container {
  box-sizing: border-box;
}
.container {
  width: 531px;
  flex-direction: column;
  padding: 0 var(--padding-5xl);
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.contactForm {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-5xl);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
